appdirs==1.4.3
appnope==0.1.0
astroid==1.4.9
backports.shutil-get-terminal-size==1.0.0
cloudpickle==0.2.2
cymem==1.31.2
cytoolz==0.8.2
decorator==4.0.9
flake8==2.5.4
flexmock==0.10.2
gnureadline==6.3.3
ipython==4.2.0
ipython-genutils==0.1.0
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.4.0
murmurhash==0.26.4
numpy==1.12.0
packaging==16.8
pathlib==1.0.1
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.7.2
plac==0.9.6
preshed==0.46.4
ptyprocess==0.5.1
pyflakes==1.0.0
pylint==1.6.5
pyparsing==2.2.0
requests==2.9.1
scipy==0.17.0
semver==2.7.6
simplegeneric==0.8.1
six==1.10.0
spacy==1.6.0
sputnik==0.9.3
text-unidecode==1.0
textstat==0.2
thinc==6.2.0
toolz==0.8.2
tqdm==4.11.2
traitlets==4.2.1
ujson==1.35
wrapt==1.10.8
