cloudpickle==0.2.1
cymem==1.31.0
flake8==2.5.4
mccabe==0.4.0
murmurhash==0.26.1
nltk==3.1
numpy==1.10.4
pep8==1.7.0
plac==0.9.1
preshed==0.46.2
pyflakes==1.0.0
semver==2.4.1
six==1.10.0
spacy==0.100.5
sputnik==0.8.3
text-unidecode==1.0
thinc==5.0.6
ujson==1.35
wheel==0.24.0
