backports.shutil-get-terminal-size==1.0.0
cloudpickle==0.2.1
cymem==1.31.0
decorator==4.0.9
flake8==2.5.4
ipython==4.2.0
ipython-genutils==0.1.0
mccabe==0.4.0
murmurhash==0.26.1
numpy==1.10.4
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.7.2
plac==0.9.1
preshed==0.46.2
ptyprocess==0.5.1
pyflakes==1.0.0
requests==2.9.1
semver==2.4.1
simplegeneric==0.8.1
six==1.10.0
spacy==0.100.5
sputnik==0.8.3
text-unidecode==1.0
thinc==5.0.6
traitlets==4.2.1
ujson==1.35
scipy==0.17.0
